body{
	background-color: #FFFFFF;
}
.container{
	background-color: #F7F7F7;
	height: auto;
	position: relative;
	top: 20px;
}
.cont-left{
	border-right:1px solid #EDEDED ;
	width: 800px;
	float: left;
}
.teacher{
	margin-bottom: 20px;
	height: 200px;
}
.jianjie{
	padding-left: 10px;
	border-left-color: orangered;
	border-left-style: solid;
	border-left-width: 4px;
	line-height: 20px;
	text-align: left;
	font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
	margin-left: 10px;
	margin-top: 5px;
	
}
hr{
	margin: 10px;
}
.teacher-top{
	margin: 40px;
}
.teacher-top img{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	
}
.teacher-main{
	margin-left: 120px;
}
.teacher-main h3{
	font-size: 20px;
	color: #0062CC;
}
.teacher-middle{
	margin: 30px;
}
.teacher-middle p{
	font-size: 15px;
	font-family: "microsoft yahei";
	line-height: 29px;
	word-break:break-word;
	text-indent: 28px;
	letter-spacing: 1px;
}
.cont-right{
	width: 300px;
	display: inline;
	
}
.teacher-list{
	margin-left: 36px;
	border-bottom: 2px solid #56b929;

	
}
.teacher-lesson{
		float: right;
		position: relative;
		top: 20px;
		right: 120px;
	
}
.col-md-3{
	max-width: 100%;
	padding-top: 15px;
}
.col-md-3 img {
    border-radius: 6px;
    width: 200px;
    height: 200px;
}
.col-md-3 h3 {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    margin: 6px 0;
    white-space: nowrap;
    overflow: hidden;
}
.col-md-3 p {
    font-size: 12px;
    color: #888888;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    margin: 6px 0;
}