<!DOCTYPE html>
<html>
	<head>
		<title>U课 · 更懂你的在线学习平台</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		 crossorigin="anonymous">
		<link th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet">
		<link th:href="@{/css/carousel.css}" rel="stylesheet">
		<link th:href="@{/css/my-custom.css}" rel="stylesheet">
		<link th:href="@{/css/lesson.css}" rel="stylesheet" />
		<link th:href="@{/css/class-content.css}" rel="stylesheet" />
	<body>
		<header>
			<a name="n"></a>
			<div class="header_navbar" th:include="header :: header_navbar"></div>
		</header>

		<div class="container">
			<div class="card">
				<div class="card-top" >
					<p>热门课程</p>
				</div>
				<div class="card-body" style="padding-right: 40px;">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
					</div>
					
				</div>
			</div>
			<div class="card">
				<div class="card-top" style="">
					<p>计算机类课程</p>
				</div>
				<div class="card-body" style="padding-right: 40px;">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
					</div>
					
				</div>
			</div>
			<div class="card">
				<div class="card-top" style="border-bottom: 2px solid #E6E1DC;text-align: center;height: 40px;line-height: 40px;">
					<p>其他类课程</p>
				</div>
				<div class="card-body" style="padding-right: 40px;">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}"style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<div class="copyright" th:include="footer :: copyright"></div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		 crossorigin="anonymous"></script>
		<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js}"></script>
		<script th:src="@{https://cdn.bootcss.com/vue/2.5.21/vue.js}"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
		<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
		<script th:src="@{/js/my-custom.js}"></script>
	</body>

</html>
