<!DOCTYPE html>
<html>
	<head>
		<title>U课 · 更懂你的在线学习平台</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		 crossorigin="anonymous">
		<link th:href="@{/https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<link th:href="@{/css/carousel.css}" rel="stylesheet">
		<link th:href="@{/css/my-custom.css}" rel="stylesheet">
		<link th:href="@{/css/lesson.css}" rel="stylesheet" />
		<link th:href="@{/css/class-content.css}" rel="stylesheet" />
	<body>
		<header>
			<a name="n"></a>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#333">
				<a class="navbar-brand" href="#">
					<img th:src="@{/img/logo-elements/Logo.png}" width="32" height="32" class="d-inline-block align-top" alt="">
					课</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#main">首页</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#courses_info">课程信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#tch_res">教学资源</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#exp_res">实验资源</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#bull_board">公告</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#chatting_online">在线交流</a>
						</li>
					</ul>
					<!-- <form class="form-inline mt-2 mt-md-0">
		            <button class="btn btn-outline-success my-2 my-sm-0" type="button" style="margin-left:8px;">登录</button>
		          </form> -->
				</div>
			</nav>
		</header>

		<div class="container">
			<div class="card">
				<div class="card-top" >
					<p>热门课程</p>
				</div>
				<div class="card-body" style="padding-right: 40px;">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
					</div>
					
				</div>
			</div>
			<div class="card">
				<div class="card-top" style="">
					<p>计算机类课程</p>
				</div>
				<div class="card-body" style="padding-right: 40px;">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
					</div>
					
				</div>
			</div>
			<div class="card">
				<div class="card-top" style="border-bottom: 2px solid #E6E1DC;text-align: center;height: 40px;line-height: 40px;">
					<p>其他类课程</p>
				</div>
				<div class="card-body" style="padding-right: 40px;">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}"style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img th:src="@{/img/slide/codes-1.jpg}" style="width: 200px;" />
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<footer class="footer">
			<div class="footer-fl footer-1st">
				<span id="logo_desc">
					<img th:src="@{/img/logo-elements/Logo.png}" width="32" height="32" class="d-inline-block align-top" alt="">
					课</a>
				</span>
				<br>
				<br>
				<span class="proj_desc">
					做一个更懂每一个师生的的网络学习空间、公共服务平台。
				</span>
			</div>
			<div class="footer-fr" id="friendly_url">
				<!-- friendly_url_table -->
				<table id="fri_u_table">
					<tr>
						<td colspan="2" class="td_title">友情链接</td>
					</tr>
					<tr>
						<td><a href="">郑州轻工业大学</a></td>
						<td><a href="">河南大学</a></td>
					</tr>
					<tr>
						<td><a href="">郑州大学</a></td>
						<td><a href="">河南工业大学</a></td>
					</tr>
					<tr>
						<td><a href="">清华大学</a></td>
						<td><a href="">北京大学</a></td>
					</tr>
				</table>
			</div>
			<div class="footer-fr" id="follow_us">
				<!-- follow_us_table -->
				<table id="f_u_table">
					<tr>
						<td colspan="2" class="td_title">关注我们</td>
					</tr>
					<tr>
						<td id="url_wb"><a href=""><i class="fa fa-weibo"></i><br>微博</a></td>
						<td id="url_wx"><a href=""><i class="fa fa-weixin"></i><br>微信</a></td>
					</tr>
				</table>
			</div>
			<div class="footer-fr" id="about_us">
				<!-- about_us_table -->
				<table id="a_u_table">
					<tr>
						<td colspan="2" class="td_title">关于我们</td>
					</tr>
					<tr>
						<td><a href="">关于我们</a></td>
						<td><a href="">意见反馈</a></td>
					</tr>
					<tr>
						<td><a href="">常见问题</a></td>
						<td><a href="">资源下载</a></td>
					</tr>
				</table>
			</div>
			<div id="footer_copyright">
				<p>&copy; 郑州轻工业大学 &middot; <a href="">豫ICP备05002456号</a> &middot; 软件学院Genius项目组<a href="#n" id="back2head">返回页首</a></p>
			</div>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/https://code.jquery.com/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		 crossorigin="anonymous"></script>
		<script th:src="@{/https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js}"></script>
		<script th:src="@{/https://cdn.bootcss.com/vue/2.5.21/vue.js}"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
		<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
		<script th:src="@{/js/my-custom.js}"></script>
	</body>

</html>
