<!DOCTYPE html>
<html>

<head>
	<title>U课 · 更懂你的在线学习平台</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3.min.css}">
	<link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/carousel.css}" rel="stylesheet">
	<link th:href="@{/css/my-custom.css}" rel="stylesheet">
	<link th:href="@{/css/lesson.css}" rel="stylesheet" />
	<link th:href="@{/css/class-content.css}" rel="stylesheet" />

<body>
	<header>
		<a name="n"></a>
		<div class="header_navbar" th:include="header :: header_navbar"></div>
	</header>

	<div class="container">
		<div class="card-class">
			<div>
				<ul>
					<li class="class-top">
						<span>类别:</span>
					</li>
					<li>
						<a href="#" class="filter" data-category="">
							<i class="fa fa-th-large" aria-hidden="true"></i>
							<span>全部</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-category="bcyy">
							<span>编程语言</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-category="hdkf">
							<span>后端开发</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-category="qdkf">
							<span>前端开发</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-category="ydkf">
							<span>移动开发</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-category="wlyyw">
							<span>网络与运维</span>
						</a>
					</li>
				</ul>
				<ul>
					<li class="class-top">
						<span>难度:</span>
					</li>
					<li>
						<a href="#" class="filter" data-degree="">
							<i class="fa fa-th-large" aria-hidden="true"></i>
							<span>全部</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-degree="1">
							<span>入门</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-degree="2">
							<span>初级</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-degree="3">
							<span>中级</span>
						</a>
					</li>
					<li>
						<a href="#" class="filter" data-degree="4">
							<span>高级</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="card">
			<div class="card-top">
				<h3 class="types-title">
					<!-- <span><i class="fa fa-scissors fa-2x" style="color: #00B33B;" aria-hidden="true"></i></span> -->
				</h3>
			</div>
			<div class="card-body" style="padding-right: 40px;">
				<div class="row" id="allLessons">

				</div>

			</div>
		</div>


	</div>

	<!-- FOOTER -->
	<div class="copyright" th:include="footer :: copyright"></div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap-4.1.3.js}"></script>
	<script th:src="@{/js/vue.js}"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
	<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
	<script th:src="@{/js/my-custom.js}"></script>
	<script th:src="@{/js/initPage.js}"></script>
	<script th:src="@{/js/layui.all.js}"></script>
	<script th:src="@{/js/handlebars-v4.0.12.js}"></script>


	<script id="table-template" type="text/x-handlebars-template">
		{{#each this}}
	                		<div class="col-xs-6 col-md-3">
							<a href="/lessons/{{id}}"  target="_blank" class="thumbnail">
							<img src="{{lessPicUrl}}" style="width: 200px;border-radius: 4px;" />
							</a>
							<h3>{{lessName}}<span class="badge badge-info" style="margin-left: 20px;">{{required}}</span></h3>
							<p>{{rank}}、{{lessCategory}}、项目实战</p>
							<div class="channel-meta">
						    <span >{{teaName}}</span>
						    <span>|</span>
							<span>{{pageView}}人学习</span>
							</div>
						</div>
	      {{/each}}  
   </script>
	<script>
		$.ajax({
			type: "GET",
			url: "/lessons/screen",
			dataType: "json",
			data: {},
			success: function (json) {
				var func = Handlebars.compile($("#table-template").html());
				var result = func(json);
				$('#allLessons').html(result);
			}
		});
		 
		$(document).ready(function () {
			$("a[class='filter']").click(function () {
				if ($(this).data('category')) {
					var _keyword = $(this).data('category')
					var url = '/lessons/screen?keyWord=' + _keyword
					$.get(url, function (json) {
						var func = Handlebars.compile($("#table-template").html());
						var result = func(json);
						$('#allLessons').html(result);
					})
				} else if ($(this).data('degree')) {
					var _easy = $(this).data('degree')
					var url = '/lessons/screen?easy=' + _easy
					$.get(url, function (json) {
						var func = Handlebars.compile($("#table-template").html());
						var result = func(json);
						$('#allLessons').html(result);
					})
				}else{
					$.get('/lessons/screen?easy=&keyWord=', function (json) {
						var func = Handlebars.compile($("#table-template").html());
						var result = func(json);
						$('#allLessons').html(result);
					})
				}
			})
		})
	</script>

</body>



</html>