<!DOCTYPE html>
<html>
	<head>
		<title>U课 · 更懂你的在线学习平台</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3.min.css}">
		<link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
		<link  th:href="@{/css/carousel.css}" rel="stylesheet">
		<link th:href="@{/css/my-custom.css}" rel="stylesheet">
		<link th:href="@{/css/lesson.css}" rel="stylesheet" />
	<body>
		<header>
			<a name="n"></a>
			<div class="header_navbar" th:include="header :: header_navbar"></div>
		</header>
		<main>
			<div id="main">
				<div class="course-infos">
					<div class="course-info-min course-left">
						<img th:src="${lessonInfoById.lessPicUrl}">
					</div>
					<div class="course-info-min course-middle">
						<h1 th:text="${lessonInfoById.lessName}">C语言</h1>
						<input type="hidden" />
						<p class="intro-more">
							<span>
								<em>主讲:</em>
								<a href="#"  th:text="${lessonInfoById.teaName}">杨华:</a>
							</span>
							<span>
								<em>难度:</em>
								<a href="#" th:text="${lessonInfoById.rank}">中级:</a>
							</span>
							<span>
								<em>时长:</em>
								1h23m45s
							</span>
							<span>
								<em>学习人数:</em>
								<em class="red" th:text="${lessonInfoById.pageView}">12</em>
							</span>
							<span>
								<em>综合评分:</em>
								9.6
							</span>
				
						</p>
					</div>
					<div class="course-info-min course-right">
						<div class="course-share">
							<div class="share "><a href="#"><span>收藏</span></a></div>						
							<a class="weixin"><i class="fa fa-weixin" aria-hidden="true"></i></a>
							<a class="weibo"><i class="fa fa-weibo" aria-hidden="true"></i></a>
						</div>
						<!-- <div class="course-button">
							<button type="button">参加课程</button>
						</div> -->
					</div>
					<div class="clrarfix">
				
					</div>
				</div>
				<!-- 课程面板 -->
				<div class="course-info-main clearfix w">					
						<div class="content">
							<!-- 课程简介 --> 
							<div class="course-description course-wrap"  th:text="${lessonInfoById.summary}">
								本课程将带领大家理解XXXXXXXXXXXXXXXXX
							</div>
							<!-- 课程简介 end -->
							<!-- 课程章节 -->
							<div class="course-chapters">
							
							
								<div class="chapter course-wrap " th:each="lessinfo:${info}"  >
									<!-- 章节标题 -->
									<h3 th:text="${lessinfo.chapter_name}">
										第1章 课程介绍
									</h3>
									<div class="chapter-description" th:text="${lessinfo.chapter_intro}">
										本章中将会针对课程安排进行概要介绍。
									</div>
									<!-- 章节标题 end -->
									<!-- 章节小节 -->
									<ul class="video"  >
										<li data-media-id="18390"  th:each="sectioninfo:${lessinfo.section}">
											<a th:href="@{/video/{id}(id=${sectioninfo.id})}" target="_blank"  class="J-media-item">
												<i class="imv2-play_circle type" ></i>
									         	<span th:text="${sectioninfo.section_name}" ></span>

												<button class="r moco-btn moco-btn-red preview-btn">开始学习</button>

											</a>
										</li>
									</ul>
									<!-- 章节小节 end -->
								</div>
								
							
						</div>
						</div>
						<div class="aside r">
							<div class="course-wrap course-aside-info js-usercard-box">
								<a href="">
									<img src="img/EF17.png"/>
								</a>
								<hr />
								<div class="teacher-list">
									<div class="teacher-fa">
										<i class="fa fa-circle" aria-hidden="true" style="color: orangered;"></i>
										<span>授课教师</span>
										
									</div>
									<a href="#">
										<img src="img/TeacherPicture/t_p_CuiJT.jpg" />
										<div class="teacher-main">
											<h3>崔建涛</h3>
											<p>郑州轻工业大学，软件学院主任.副教授，毕业于华中科技大学</p>
										</div>
									</a>
								</div>
							</div>
						</div>					
				</div>
		</main> <!-- FOOTER -->
		<div class="copyright" th:include="footer :: copyright"></div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap-4.1.3.js}"></script>
		<script th:src="@{/js/vue.js}"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
		<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
	</body>
</html>
