<!doctype html>
<html lang="en">

	<head>
		<title>U课 · 更懂你的在线学习平台</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3.min.css}">
		<link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/my-custom.css}" rel="stylesheet">
		<link th:href="@{/css/teacher-content.css}" rel="stylesheet" />
	</head>

	<body>
		<header>
			<a name="n"></a>
			<div class="header_navbar" th:include="header :: header_navbar"></div>
		</header>
		<main>
			<div class="container" th:each="tea_p:${teaInfo_p}">
				<div class="cont-left">
					<div class="teacher">
						
							<span class="jianjie">教师简介</span>
							<div class="teacher-top">
								<img th:src="${tea_p.picUrl}" />
								<div class="teacher-main">
									<h3 th:text = "${tea_p.teaName}">崔建涛</h3>
									<p>郑州轻工业大学</p>
								</div>
							</div>
				
					</div>
					<hr />
					<div class="teacher">
						
							<span class="jianjie">工作历程</span>
							<div class="teacher-middle">
								<p >09至2002.06四川师范学院计算机系，获工学学士学位（本科）；
									2002.09至2005.06西华师范大学计算机学院，获工学硕士学位；
				
									2011.08至2012.09英国约克大学（UniversityofYork）国家公派留学生，博士联合培养；
				
									2009.09至2014.12四川大学计算机学院，获工学博士学位；
				
									2014.12至今郑州轻工业学院软件学院任教。
								</p>
							</div>
					</div>
				</div>
				<div class="cont-right">
					<span class="teacher-list">相关课程</span>
					
					<div class="teacher-lesson">
						<div class="col-xs-6 col-md-3" th:each="tea_less:${tea_lessonInfo}" >
							<a  class="thumbnail" th:href = "@{/lessons/{id}(id=${tea_less.id})}">
								<img th:src="${tea_less.lessPicUrl}"  />
							</a>
							<h3 th:text = "${tea_less.lessName}">JAVA实战训练<span class="badge badge-info" style="margin-left: 20px;" th:text = "${tea_less.rank}">必修课程</span></h3>
							<p>项目实战、练习代码</p>
							<div class="channel-meta">
								<span style="color: red;">免费</span>
								<span>|</span>
								<span th:text = "${tea_less.pageView}">6666人学过</span>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</main>
		<div class="copyright" th:include="footer :: copyright"></div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap-4.1.3.js}"></script>
		<script th:src="@{/js/vue.js}"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
		<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
	</body>
</html>
