<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>U课 · 更懂你的在线学习平台</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3.min.css}">
		<link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/carousel.css}" rel="stylesheet">
		<link th:href="@{/css/my-custom.css}" rel="stylesheet">
		<link th:href="@{/css/teacher.css}" rel="stylesheet" />
		</style>
	</head>

	<body>
		<header>
			<a name="n"></a>
			<div class="header_navbar" th:include="header :: header_navbar"></div>
		</header>
		<main>
			<div class="container" style="margin-top: 10px;">
				<div class="con-left">
					<p>师资列表</p>
					<hr />
					<div class="">
						<ul class="lists">
							<a>
								<li>
									<dl>
										<dt>
											<img th:href="@{img/TeacherPicture/t_p_CaoJ.jpg}" />
										</dt>
										<dd>
											<b class="">崔建涛</b>
											<strong class="">软件学院教授</strong>
											<div class="channel-desc">
												<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
											</div>
										</dd>
									</dl>
								</li>
							</a>
						</ul>
						<ul class="lists">
							<a>
								<li>
									<dl>
										<dt>
											<img src="img/TeacherPicture/t_p_CaoJ.jpg" />
										</dt>
										<dd>
											<b class="">崔建涛</b>
											<strong class="">软件学院教授</strong>
											<div class="channel-desc">
												<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
											</div>
										</dd>
									</dl>
								</li>
							</a>
						</ul>
						<ul class="lists">
							<a>
								<li>
									<dl>
										<dt>
											<img src="img/TeacherPicture/t_p_CaoJ.jpg" />
										</dt>
										<dd>
											<b class="">崔建涛</b>
											<strong class="">软件学院教授</strong>
											<div class="channel-desc">
												<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
											</div>
										</dd>
									</dl>
								</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="con-right"></div>
				<div class="clear"></div>
			</div>
		</main>
		<div class="copyright" th:include="footer :: copyright"></div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap-4.1.3.js}"></script>
		<script th:src="@{/js/vue.js}"></script>
		<!-- <script th:src="@{/https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js}"></script> -->
		<!-- <script th:src="@{/https://vuejs.org/js/vue.js}"></script> -->
	</body>
</html>
