<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>视频播放</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{/img/logo-elements/icon.ico}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3.min.css}">
		<link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
		<link th:href="@{/css/carousel.css}" rel="stylesheet">
		<link th:href="@{/css/my-custom.css}" rel="stylesheet">
		<link th:href="@{/css/lesson.css}" rel="stylesheet" />
		<link th:href="@{/css/video-js.min.css}" rel="stylesheet">
		<link th:href="@{/css/video.css}" rel="stylesheet" />
	<body>
		<header>
			<a name="n"></a>
			<div class="header_navbar" th:include="header :: header_navbar"></div>
		</header>
		<main>
			<div id="main">
				<div class="video" style="background-color:#171A23;">
					<div class="video-left" style="float: left;">
						<video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"  controls preload="none" width="100%" height="560"
						 poster="static/img/slide/1.png" data-setup="{}">
							<source th:src="${videoUrl.resource_url}" type="video/mp4">
						</video>

					</div>
					<div class="video-right" >
						<span class="video-head">播放章节</span>
						<hr />
						<div class="video-main">
							<ul th:each="lessinfo:${info}">
								<li class="sec-title" >
									<span th:text="${lessinfo.chapter_name}">第1章 Java初体验</span>
								</li>
								<li class="sec-li"  th:each="sectioninfo:${lessinfo.section}">
									<a th:href="@{/video/{id}(id=${sectioninfo.id})}" class="">
										<em class=""><i class="fa fa-television" aria-hidden="true"></i></em>
										<span th:text="${sectioninfo.section_name}">1-1 Java简介（05:34）</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div style="clear: both;"></div>

				</div>
  


		</main> <!-- FOOTER -->
		<div class="copyright" th:include="footer :: copyright"></div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap-4.1.3.js}"></script>
		<script src="@{/js/vue.js}"></script>
		<script th:src="@{/js/video.min.js}"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
		<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
	</body>
</html>
