<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzuli.lesson.mapper.BackLessonsMapper">

	<!-- 获取课程信息列表 -->
	<select id="queryBackLessons" resultType="java.util.Map">
		SELECT id,
		less_name as
		lessName,
		rank,
		tea_name as teaName,
		pageview as pageView,
		summary,
		less_category as lessCategory,
		create_time as createTime
		FROM lessons
		WHERE valid_sts_cd =1
	</select>
	<select id="queryBackLessonsTeacher" resultType="java.util.Map">
		SELECT id,
		less_name as lessName,
		rank,
		tea_name as teaName,
		pageview as
		pageView,
		summary,
		less_category as lessCategory,
		create_time as createTime
		FROM
		lessons
		WHERE valid_sts_cd =1
		AND tea_id = #{teaId}
	</select>

	<!-- 添加课程信息 -->
	<insert id="insertLessons" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="com.zzuli.lesson.bean.Lessons">
		insert into
		lessons(
		less_name ,
		tea_name,
		pageview,
		create_time,
		modifield_time
		)

		values
		(#{lessName},#{teaName},0,now(),now())
	</insert>

	<!-- 删除课程信息 -->
	<update id="deleteLessons">
		update
		lessons
		set
		valid_sts_cd = 2
		where id = #{id}
	</update>
	<!-- 查询teaId by userId -->
	<select id="queryTeaIdByUserId" resultType="java.util.Map">
		SELECT tea_id,
		tea_name
		FROM
		user
		WHERE id = #{userId}
	</select>
</mapper>