<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzuli.lesson.mapper.LessonsMapper">

	<!-- 获取所有课程信息列表 -->
	<select id="queryLessons" resultType="java.util.Map">
		SELECT id,
		less_pic_url as lessPicUrl,
		less_name as lessName,
		rank,
		tea_name as teaName,
		pageview as	pageView,
		summary,
		less_category as lessCategory,
		tea_id as teaId,
		required
		FROM lessons
	</select>
	<!-- 获取有效的课程信息列表 -->
	<select id="queryValidLessons" resultType="java.util.Map">
		SELECT id,
		less_pic_url as lessPicUrl,
		less_name as lessName,
		rank,
		tea_name as teaName,
		pageview as	pageView,
		summary,
		less_category as lessCategory,
		tea_id as teaId,
		required
		FROM lessons
		WHERE valid_sts_cd = 1
	</select>
	<!-- 获取热门课程信息 -->
	<select id="queryPageViewByPageView" resultType="java.util.Map">
		SELECT id,
		less_name as lessName,
		tea_name as teaName,
		pageview 
		FROM lessons
		WHERE valid_sts_cd = 1
		ORDER BY
		pageview
		DESC
		LIMIT 10
	</select>
	<!-- 更新对应id浏览量 -->
	<update id="updatePageView">
		update
		lessons
		set
		pageview=(pageview+1)
		where id = #{id}
	</update>
	<!-- 根据Id查询课程信息 -->
	<select id="queryLessonInfoByTeaId" resultType = "java.util.Map">
		SELECT 
		id,
		less_pic_url as lessPicUrl, 
		tea_name as teaName,
		less_name as lessName,
		rank,
		pageview as	pageView,
		summary,
		less_category as lessCategory,
		tea_id as teaId,
		required
		FROM lessons
		WHERE
		tea_id = #{teaId}
	</select>
	<select id="queryLessonsInfoById" resultType="java.util.Map">
		SELECT 
		id,
		less_pic_url as lessPicUrl, 
		tea_name as teaName,
		less_name as lessName,
		rank,
		pageview as	pageView,
		summary,
		less_category as lessCategory,
		tea_id as teaId,
		required
		FROM lessons
		WHERE
		id=#{id}
	</select>
	<!-- 获取列表所有课程数量 -->
	<select id="queryLessonsTotalCount"  resultType="java.lang.Integer">
	    SELECT 
	    count(id) 
	    FROM 
	    lessons
	</select>
	<!-- 获取列表有效课程数量 -->
	<select id="queryLessonsValidCount"  resultType="java.lang.Integer">
	    SELECT count(id) 
	    FROM lessons
	    WHERE valid_sts_cd = 1
	</select>
	<!-- 根据课程ID查询课程所有章节信息 -->
	<select id="queryAllChapter" resultType="java.util.Map">
		SELECT chapter_name , chapter_intro ,id
		FROM less_chapter
		where less_id = #{id}
		ORDER BY chapter_seqno
	</select>
	<!-- 根据章节ID查询章节所有小节（或部分的信息） -->
	<select id="queryAllSection" resultType="java.util.Map">
		SELECT id, section_name , section_seqno , resource_url
		FROM less_section
		where chapter_id = #{id}
		ORDER BY  section_seqno 
	</select>
	<!-- 添加课程 -->
	<insert id="insertLesson">
		INSERT INTO 
		lessons 
		(less_pic_url , less_name , rank , tea_name , pageview , summary ,create_time , less_category , valid_sts_cd)
		values(#{lessPicUrl} , #{lessName} , #{rank} , #{teaName} , 0 , #{summary} , now() , #{lessCategory} , 1 )
	</insert>
	<!-- 根据关键字筛选课程课程 -->
	<select id="queryLessonsByKeyWord" resultType="java.util.Map">
		SELECT id,
		less_pic_url as lessPicUrl,
		less_name as lessName,
		rank,
		tea_name as teaName,
		pageview as	pageView,
		summary,
		less_category as lessCategory,
		tea_id as teaId,
		required
		FROM lessons
		<where>
		<if test = "keyWord != null &amp; keyWord != '' ">
		less_category like #{keyWord}
		</if>
		<if test = "easy != null &amp; easy != '' ">
		AND rank like #{easy}
		</if>
		</where>
	</select>
	<!-- 根据节id返回课程地址 -->
	<select id="queryVideoUrlBySectionId" resultType="java.util.Map">
		SELECT  resource_url
		FROM less_section
		WHERE id = #{id}
	</select>
	<!-- 根据节id查询章id -->
	<select id="queryChapterIdBySectionId" resultType="java.util.Map">
		SELECT chapter_id
		FROM less_section
		WHERE id = #{id}
    </select>
    <!-- 根据章id查询课程id -->
	<select id="queryLessonIdByChapterId" resultType="java.util.Map">
		SELECT less_id
		FROM less_chapter
		WHERE id = #{chapterId}
    </select>
    	<!-- 根据课程ID查询课程所有章节信息Map -->
	<select id="queryAllSectionMap" resultType="java.util.Map">
		SELECT chapter_name , chapter_intro ,id
		FROM less_chapter
		where less_id = #{lessonId}
		ORDER BY chapter_seqno
	</select>
</mapper>