<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzuli.lesson.mapper.TeacherMapper">  

	<select id="queryTeacher" resultType="com.zzuli.lesson.bean.Teacher">
		SELECT id, tea_num, tea_name, tea_introduce, pic_url, sort,
		valid_sts_cd, create_time, modifield_time
		FROM less_teacher
	</select>
	<select id="queryTeacherById" resultType="com.zzuli.lesson.bean.Teacher">
		SELECT id, tea_num, tea_name, tea_introduce, pic_url, sort,
		valid_sts_cd, create_time, modifield_time
		FROM less_teacher
		WHERE
		id=#{teaId}
	</select>
	<insert id="insertTeacher" useGeneratedKeys="true" keyProperty="teaId"
		keyColumn="area_id" parameterType="com.zzuli.lesson.bean.Teacher">
		INSERT INTO
		less_teacher(tea_num, tea_name, tea_introduce, pic_url, sort,
		valid_sts_cd, create_time, modifield_time)
		VALUES
		(#{teaNum},#{},#{teaIntroduce},#{picUrl},#{sort},
		#{validStsCd},#{createTime},#{modifieldTime})
	</insert>
	<update id="updateTeacher" parameterType="com.zzuli.lesson.bean.Teacher">
		update less_teacher
		<set>
			<if test="tea_num != null">tea_num=#{teaNum},</if>
			<if test="tea_name != null">tea_name=#{teaName},</if>
			<if test="tea_introduce != null">tea_introduce=#{teaIntroduce}</if>
			<if test="pic_url != null">pic_url=#{picUrl},</if>
			<if test="sort != null">sort=#{sort},</if>
			<if test="valid_sts_cd != null">valid_sts_cd=#{validStsCd}</if>
			<if test="modifield_time != null">modifield_time=#{modifieldTime},</if>
		</set>
		where id=#{teaId}
	</update>
	<delete id="deleteTeacher">
		DELETE FROM
		less_teacher
		WHERE
		id =
		#{teaId}
	</delete>
</mapper>